<div class="sidebar">
  <a href="/admin/members" class="group">회원 관리</a>
  <a href="/admin/books" class="group">도서 관리</a>
  <a href="/admin/selling-books" class="group">판매 도서 관리</a>
  <a href="/admin/tags" class="group">태그 관리</a>
  <a href="/admin/points-conditions" class="group">포인트 조건 관리</a>
  <a href="/admin/category" class="group">카테고리 관리</a>
  <a href="/admin/coupon-register" class="group">쿠폰 제작</a>
  <a href="/admin/coupon-issue" class="group">쿠폰 발급</a>
  <a href="/admin/wrapping-papers" class="group">포장지 관리</a>
  <a href="/admin/delivery-fee-policies" class="group">배송비정책 관리</a>
  <a href="/admin/orders" class="group">주문 관리</a>
  <a href="/admin/order-product-returns" class="group">반품요청 관리</a>
  <a href = "/admin/authors" class="group" data-section="author-management">작가 관리</a>
</div>