<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문상세</title>
    <link rel="stylesheet" href="/css/order/detail.css">
</head>
<body>
<h1>주문상세</h1>
<h2>주문상품</h2>
<table>
    <thead>
    <tr>
        <th>이미지</th>
        <th>상품명</th>
        <th>가격</th>
        <th>수량</th>
        <th>상태</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderProduct: ${orderDetail.getOrderProducts()}">
        <td>
            <img th:src="${orderProduct.getImageUrl()}" th:alt="${orderProduct.getBookTitle()}">
        </td>
        <td>
            <a th:href="@{/book/detail/{id}(id=${orderProduct.getBookId()})}" th:text="${orderProduct.getBookTitle()}"></a>
        </td>
        <td th:text="${orderProduct.getPrice()}"></td>
        <td th:text="${orderProduct.getQuantity()}"></td>
        <td th:text="${orderProduct.getStatus()}"></td>
    </tr>
    </tbody>
</table>

<h2>주문 배송 정보</h2>
<table>
    <thead>
    <tr>
        <th>받는 사람</th>
        <th>전화번호</th>
        <th>우편번호</th>
        <th>주소</th>
        <th>상세주소</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${orderDetail.getOrderDeliveryAddress().getRecipient()}"></td>
        <td th:text="${orderDetail.getOrderDeliveryAddress().getRecipientPhone()}"></td>
        <td th:text="${orderDetail.getOrderDeliveryAddress().getZipCode()}"></td>
        <td th:text="${orderDetail.getOrderDeliveryAddress().getLocationAddress()}"></td>
        <td th:text="${orderDetail.getOrderDeliveryAddress().getDetailAddress()}"></td>
    </tr>
    </tbody>
</table>

<h2>결제정보</h2>
<table>
    <thead>
    <tr>
        <th>결제수단</th>
        <th>제공사</th>
        <th>결제금액</th>
        <th>결제일자</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${orderDetail.getPayment().getMethod()}"></td>
        <td th:text="${orderDetail.getPayment().getEasyPayProvider()}"></td>
        <td th:text="${orderDetail.getPayment().getAmount()}"></td>
        <td th:text="${orderDetail.getPayment().getPaidAt()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>