<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문반품</title>
</head>
<body>
<div>
    <label for="reason">반품사유</label><br>
    <textarea type="text" id="reason"></textarea>
</div>
<div>
    <label for="tracking-number">반송장번호</label><br>
    <input type="text" id="tracking-number"/>

</div>
<button type="button" id="return-btn">반품요청하기</button>
<script>
    document.getElementById("return-btn").addEventListener('click', async () => {
        const reason = document.getElementById("reason");
        const trackingNumber = document.getElementById("tracking-number");
        const data = {
            reason: reason,
            trackingNumber: trackingNumber
        };

        const response = await fetch('/api/orders/{orderId}/return', {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        });

        if (!(response.ok)){
            alert("반품요청이 실패했습니다.");
            return;
        }

        alert("반품이 성공적으로 요청되었습니다.");
        window.location.replace(`/orders/{orderId}`);
    });

</script>
</body>
</html>