<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문반품</title>
</head>
<body>
<div>
    <label for="reason">반품사유</label><br>
    <textarea type="text" id="reason"></textarea>
</div>
<div>
    <label for="tracking-number">반송장번호</label><br>
    <input type="text" id="tracking-number"/>
</div>
<div>
    <label for="quantity">반품수량</label><br>
    <input type="number" id="quantity" min="1"/>
</div>
<button type="button" id="return-btn">반품요청하기</button>
<script th:inline="javascript">
    document.getElementById("return-btn").addEventListener('click', async () => {
        const reason = document.getElementById("reason").value;
        const trackingNumber = document.getElementById("tracking-number").value;
        const quantity = document.getElementById("quantity").value;


        // 데이터 검증
        if (!reason || !trackingNumber) {
            alert("반품사유와 반송장번호를 입력해주세요.");
            return;
        }
        if (!quantity || quantity <= 0) {
            alert("유효한 반품수량을 입력해주세요.");
            return;
        }


        const orderId = /*[[${orderId}]]*/;
        const orderProductId = /*[[${orderProductId}]]*/;

        const data = {
            reason: reason,
            quantity: parseInt(quantity, 10),
            trackingNumber: trackingNumber
        };

        const url = `/api/orders/${orderId}/order-products/${orderProductId}/return`;
        try {
            const response = await fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                const errorMessage = await response.text();
                alert(`반품요청이 실패했습니다: ${errorMessage}`);
                return;
            }

            alert("반품이 성공적으로 요청되었습니다.");
            window.location.replace(`/orders/${orderId}`);
        } catch (error) {
            console.error("요청 중 오류가 발생했습니다:", error);
            alert("알 수 없는 오류가 발생했습니다.");
        }
    });
</script>
</body>
</html>