<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:fragment="footerLayout">
    <footer>
        <p>&copy; 2025 PlzBuyBook. 모든 권리 보유.</p>
        <p><a href="https://github.com/nhnacademy-be8-plzbuybook/bookstore-shoppingmall" target="_blank"> PlzBuyBook
            GitHub</a></p>
        <p><a href="/privacy">개인정보처리방침</a> | <a href="/terms">이용약관</a></p>
    </footer>
</div>

<div th:fragment="headerFragment">
    <header>
        <div class="logo">📚 책사조잉 📚</div>
        <nav class="menu">
            <a href="/">Home</a>
            <a href="#">국내도서</a>
            <a href="#">외국도서</a>
            <a href="#">추천도서</a>
        </nav>
        <div class="icons">
            <!-- 로그인 상태에 따라 버튼 표시 -->
            <a th:if="${role == 'ADMIN'}" href="/adminpage" id="adminpage-btn">AdminPage</a>
            <a th:if="${role == 'USER'}" href="/mypage" id="mypage-btn">MyPage</a>
            <a th:if="${role == null and (isLoggedIn != null and !isLoggedIn)}"  href="/non-member/order">비회원 주문조회</a>
            <a th:if="${role == 'USER' or (isLoggedIn != null and !isLoggedIn)}" href="/carts" id="cart-btn">장바구니</a>
            <a th:if="${role == null and (isLoggedIn != null and !isLoggedIn)}" href="/login" id="login-btn">로그인</a>
            <a th:if="${role == null and (isLoggedIn != null and !isLoggedIn)}" href="/signup" id="signup-btn">회원가입</a>
            <a th:if="${isLoggedIn}" href="/logout" id="logout-btn">로그아웃</a>
        </div>
    </header>
</div>
</html>
