<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자용 주문상세</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/order/detail.css">
    <link rel="stylesheet" href="/css/layout/layout.css">
</head>
<body>
<th:block th:replace="~{/layout/layout::headerFragment}"></th:block>
<div class="container">
    <h1>관리자용 주문상세</h1>

    <h2>주문정보</h2>
    <table>
        <thead>
        <tr>
            <th>주문번호</th>
            <th>주문일시</th>
            <th>주문상태</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${orderDetail.getOrderNumber()}"></td>
            <td th:text="${#temporals.format(orderDetail.getOrderedAt(), 'yyyy/MM/dd HH:mm')}"></td>
            <td>
                <div style="display: flex; align-items: center;">
                    <select id="orderStatusComboBox">
                        <option
                                th:each="status: ${orderStatuses}"
                                th:value="${status}"
                                th:text="${status}">
                        </option>
                    </select>
                    <button style="margin-left: 10px;"
                            id="orderStatusChangeBtn"
                            type="submit">
                        변경
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <h2>주문상품</h2>
    <table>
        <thead>
        <tr>
            <th>이미지</th>
            <th>상품명</th>
            <th>가격</th>
            <th>수량</th>
            <th>상태</th>
            <th>포장</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderProduct: ${orderDetail.getOrderProducts()}">
            <!--            이미지-->
            <td>
                <img th:src="${orderProduct.getImageUrl()}" th:alt="${orderProduct.getBookTitle()}">
            </td>
            <!--            상품명-->
            <td>
                <a th:href="@{/book/detail/{id}(id=${orderProduct.getBookId()})}"
                   th:text="${orderProduct.getBookTitle()}"></a>
            </td>
            <!--            가격-->
            <td th:text="${orderProduct.getPrice()}"></td>
            <!--            수량-->
            <td th:text="${orderProduct.getQuantity()}"></td>
            <!--            상태-->
            <td th:text="${orderProduct.getStatus()}"></td>
            <!--            포장지-->
            <td th:if="${orderProduct.getOrderProductWrapping() != null}">
                <span th:text="${orderProduct.getOrderProductWrapping().getName()}"></span> /
                <span th:text="${orderProduct.getOrderProductWrapping().getPrice()}"></span> 원
                <span th:text="${orderProduct.getOrderProductWrapping().getQuantity()}"></span> 개
            </td>
            <td th:unless="${orderProduct.getOrderProductWrapping() != null}">
                <span>X</span>
            </td>
        </tr>

        </tbody>
    </table>

    <span th:text="${orderDetail.getDeliveryWishDate()}"></span>
    <!--    주문배송이 등록되지 않았을 때 등록폼 보여줌-->
    <div th:unless="${orderDetail.getOrderDelivery().getTrackingNumber() != null}">
        <div th:replace="~{/order/admin/orderDelivery/register_form::orderDeliveryRegisterForm(orderId=${orderDetail.getOrderId()})}"></div>
    </div>

    <h2>주문 배송 정보</h2>
    <div class="section">
        <!-- 배송 정보 -->
        <div class="table-wrapper">
            <h3>배송 정보</h3>
            <table>
                <tbody>
                <tr>
                    <td>배송희망날짜</td>
                    <td th:if="${orderDetail.getDeliveryWishDate() != null}"
                        th:text="${orderDetail.getDeliveryWishDate()}"></td>
                    <td th:unless="${orderDetail.getDeliveryWishDate() != null}">
                        없음
                    </td>
                </tr>
                <tr>
                    <td>배송사</td>
                    <td th:if="${orderDetail.getOrderDelivery().getDeliveryCompany() != null}"
                        th:text="${orderDetail.getOrderDelivery().getDeliveryCompany()}"></td>
                </tr>
                <tr>
                    <td>운송장번호</td>
                    <td th:if="${orderDetail.getOrderDelivery().getTrackingNumber()!= null}"
                        th:text="${orderDetail.getOrderDelivery().getTrackingNumber()}"></td>
                </tr>
                <tr>
                    <td>등록일시</td>
                    <td th:if="${orderDetail.getOrderDelivery().getRegisteredAt() != null}"
                        th:text="${#temporals.format(orderDetail.getOrderDelivery().getRegisteredAt(), 'yyyy/MM/dd HH:mm')}"></td>
                </tr>
                <tr>
                    <td>
                        <button>배송완료 처리</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 배송 주소 -->
        <div class="table-wrapper">
            <h3>배송 주소</h3>
            <table>
                <tbody>
                <tr>
                    <td>받는사람</td>
                    <td th:text="${orderDetail.getOrderDeliveryAddress().getRecipient()}"></td>
                </tr>
                <tr>
                    <td>전화번호</td>
                    <td th:text="${orderDetail.getOrderDeliveryAddress().getRecipientPhone()}"></td>
                </tr>
                <tr>
                    <td>우편번호</td>
                    <td th:text="${orderDetail.getOrderDeliveryAddress().getZipCode()}"></td>
                </tr>
                <tr>
                    <td>주소</td>
                    <td th:text="${orderDetail.getOrderDeliveryAddress().getLocationAddress()}"></td>
                </tr>
                <tr>
                    <td>상세주소</td>
                    <td th:text="${orderDetail.getOrderDeliveryAddress().getDetailAddress()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="section">
        <!-- 결제정보 -->
        <div class="table-wrapper">
            <h3>결제수단</h3>
            <table>
                <tbody>
                <tr>
                    <td>결제수단</td>
                    <td th:text="${orderDetail.getPayment().getMethod()}"></td>
                </tr>
                <tr>
                    <td>제공사</td>
                    <td th:text="${orderDetail.getPayment().getEasyPayProvider()}"></td>
                </tr>
                <tr>
                    <td>결제금액</td>
                    <td th:text="${orderDetail.getPayment().getAmount()}"></td>
                </tr>
                <tr>
                    <td>결제일자</td>
                    <td th:text="${orderDetail.getPayment().getPaidAt()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 결제수단 -->
        <div class="table-wrapper">
            <h3>결제정보</h3>
            <table>
                <tbody>
                <tr>
                    <td>주문금액</td>
                    <td th:text="${orderDetail.getOrderPrice()}">10000원</td>
                </tr>
                <tr>
                    <td>사용포인트</td>
                    <td th:text="${orderDetail.getUsedPoint()}"></td>
                </tr>
                <tr>
                    <td>할인금액</td>
                    <td>1000원</td>
                </tr>
                <tr>
                    <td>배송비</td>
                    <td th:text="${orderDetail.getDeliveryFee()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--footer 레이아웃-->
<th:block th:replace="~{/layout/layout::footerLayout}"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const orderStatusComboBox = document.getElementById("orderStatusComboBox");
        const defaultValue = [[${orderDetail.getStatus()}]];
        orderStatusComboBox.value = defaultValue;

        const orderStatusChangeBtn = document.getElementById("orderStatusChangeBtn");
        orderStatusChangeBtn.addEventListener('click', async () => {
            const orderId = [[${orderDetail.getOrderId()}]];
            const status = orderStatusComboBox.value;

            const response = await fetch(`/api/orders/${orderId}/status`, {
                method: 'PATCH',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ status: status })

            })

            if (!response.ok) {
                alert("주문상태 변경이 실패했습니다.");
                return;
            }
            alert(`주문상태을 ${status}로 변경 완료`);
            window.location.reload();
        })
    });
</script>
</body>

</html>