body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    font-weight: bold;
}


header .menu a,
header .icons a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

header .menu a:hover,
header .icons a:hover {
    color: #f1f1f1;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

footer a {
    color: #00aaff;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}