<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>포장지 관리</title>
</head>
<body>
<h1>포장지 관리</h1>
<form method="POST" action="#">
  <table>
    <thead>
    <tr>
      <th>이미지</th>
      <th>포장지 이름</th>
      <th>가격</th>
      <th>재고</th>
      <th>생성일자</th>
      <th>관리</th>
    </tr>
    </thead>
    <tbody>
<!--    등록폼-->
    <tr>
      <td>
        <input type="file" name="imagePath">
      </td>
      <td>
        <input type="text" name="name" placeholder="포장지 이름을 입력해주세요.">
      </td>
      <td>
        <input type="number" name="price" placeholder="가격을 입력해주세요.">
      </td>
      <td>
        <input type="number" name="stock" placeholder="재고를 입력해주세요.">
      </td>
      <td></td>
      <td>
        <button type="submit">등록</button>
      </td>
    </tr>

<!--  포장지 목록-->
    <tr>
      <td>
        <img src="#" alt="포장지이름..">
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button>수정</button>
        <button>삭제</button>
      </td>
    </tr>
    </tbody>

  </table>
</form>
</body>
</html>