<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 주문내역</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/order/allOrderList.css">
</head>
<body>

<div class="container">
    <h1>내 주문내역</h1>

    <div class="search-filter">
        <input type="text" id="orderNumber" placeholder="주문 번호"/>
        <input type="text" id="productName" placeholder="상품명"/>
        <select id="orderStatus">
            <option value="">주문 상태</option>
            <option th:each="orderStatus: ${orderStatusList}"
                    th:value="${orderStatus}"
                    th:text="${orderStatus.getStatus()}"

            ></option>
        </select>
        <input type="date" id="orderDate"/>
        <button onclick="applyFilters()">검색</button>
    </div>

    <table id="orderTable">
        <thead>
        <tr>
            <th>주문명</th>
            <th>주문 상태</th>
            <th>주문 날짜</th>
            <th>결제금액</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${orderPage.getContent()}">
            <td><a class="orderName"
                   th:href="@{/orders/{orderId}(orderId=${order.getId()})}"
                   th:text="${order.getOrderName()}"></a></td>
            <td><span class="status-tag status-completed" th:text="${order.getOrderStatus().getStatus()}"></span></td>
            <td th:text="${#temporals.format(order.getOrderedAt(), 'yyyy/MM/dd HH:mm')}">2025-01-02</td>
            <td th:text="${order.getPaymentAmount()}">₩50,000</td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <a th:if="${currentPage > 0}" th:href="@{/admin/orders(page = ${currentPage} - 1)}">이전</a>
        <span>현재 페이지: <span th:text="${currentPage + 1}"></span> / <span th:text="${totalPages}"></span></span>
        <a th:if="${currentPage < totalPages - 1}" th:href="@{/admin/orders(page = ${currentPage} + 1)}">다음</a>
    </div>
</div>

<script>
    function applyFilters() {
        // 현재 URL 가져오기
        const currentUrl = new URL(window.location.href);

        // URLSearchParams 객체 가져오기
        const params = currentUrl.searchParams;

        const productName = document.getElementById("productName").value;
        const orderStatus = document.getElementById("orderStatus").value;
        const orderDate = document.getElementById("orderDate").value;
        const orderNumber = document.getElementById("orderNumber").value;

        // 입력된 필터 값을 URLSearchParams에 추가 또는 수정
        if (productName) params.set('productName', productName);
        else params.delete('productName');

        if (orderNumber) params.set('orderNumber', orderNumber);
        else params.delete('orderNumber');

        if (orderStatus) params.set('orderStatus', orderStatus);
        else params.delete('orderStatus');

        if (orderDate) params.set('orderDate', orderDate);
        else params.delete('orderDate');


        // 수정된 URL로 이동
        window.location.href = `${currentUrl.pathname}?${params.toString()}`;
    }
</script>

</body>
</html>
