<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문 결제</title>
</head>
<body>


<!--    주문 결제정보-->
<h2>결제 금액</h2>
<table class="table">
    <tr>
        <td>주문금액</td>
        <td>
            <span></span> 원
        </td>
    </tr>
    <tr>
        <td>배송비</td>
        <td>
            <span></span> 원
        </td>
    </tr>
    <tr>
        <td>결제금액</td>
        <td>
            <span></span> 원
        </td>
    </tr>
</table>
<br/><br/><br/>

<!--    결제수단-->
<h2>주문 결제수단 선택</h2>
<div class="section payment-method">
    <input type="radio" id="payment-method" checked> 토스 간편결제
</div>
<br/><br/><br/>


</body>
</html>