<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 검색</title>
    <link rel="stylesheet" href="/css/coupon/coupon-register.css">
</head>
<body>
<div th:fragment="categorySearchFragment">

    <table>
        <thead>
        <tr>
            <th>카테고리 ID</th>
            <th>카테고리 이름</th>
            <th>선택</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.categoryId}">카테고리 ID</td>
            <td th:text="${category.categoryName}">카테고리 이름</td>
            <td>
                <button type="button"
                        th:attr="data-category-id=${category.categoryId}, data-category-name=${category.categoryName}"
                        onclick="handleSelectCategory(this)">선택
                </button>
            </td>
        </tr>
        </tbody>
    </table>

<!--    <div>-->
<!--        <button type="button" th:if="${currentPage > 0}" th:onclick="'fetchCategoryPage(' + (${currentPage} - 1) + ')'">이전</button>-->
<!--        <button type="button" th:if="${currentPage < totalPages - 1}" th:onclick="'fetchCategoryPage(' + (${currentPage} + 1) + ')'">다음</button>-->
<!--    </div>-->

</div>

</body>
</html>